.card.p-3.mb-2
  // Začátek kartičky
  form.row
    .col-8
      .mb-3
        label.form-label Název jídla
        input.form-control(type='text' value=dish.name readonly)
      .mb-3
        label.form-label Počet kusů
        input.form-control(type='number' value=dish.count readonly)
    .col-4.text-center
      button.btn.btn-primary.h-75.w-75.mt-3(hx-delete="/webapp/auth/menuItem/" + dish.id hx-swap="delete" hx-target="closest .card.p-3.mb-2")
        // Tlačítko pro odstranění
        svg.bi.bi-trash3-fill(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' viewBox='0 0 16 16')
          path(d='M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5')
//- Toto refreshne přidávací formulář
input#dishAmount.form-control(hx-swap-oob="true" type='number' min='0' max='1000' name='dishAmount' value='')
input#dishName.form-control(hx-swap-oob="true" type='text' list='dishesDatalist' name='dishName' value='' autocomplete='off')
datalist#dishesDatalist(hx-swap-oob="true")
  each dish in datalistDishes
    option(value=dish)

//- Notifikace úspěchu!
#successToast.toast-container.position-fixed.bottom-0.end-0.p-3(hx-swap-oob="true")
  .toast.show(role='alert')
    .toast-header
      svg.bi.bi-info-circle-fill.me-1(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16')
        path(d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2')
      strong.me-auto Info
      button.btn-close(type='button' data-bs-dismiss='toast')
    .toast-body #{successMessage}

//- Notifikace chyby bude prázdná
#errorToast.toast-container.position-fixed.top-50.start-50.translate-middle.p-3(hx-swap-oob="true")

