extends skeleton.pug

block mainContent
  // Vybrání týdne a dne
  #datePicker
    include datePicker.pug
  #dishesContent.container.mt-3
    p.text-center Prosím zvolte den

block logoutButton
  button.btn.btn-light(type='button' hx-post='/webapp/auth/logout') Odhlásit se
