.row
  .col
  .col-4
    form
      h1.h3.mb-3.mt-5.fw-normal Přihlášení
      .form-floating
        input.form-control(type='email' name='email')
        label(for='floatingInput') Email
      .form-floating
        input.form-control(type='password' name='password')
        label(for='floatingPassword') Heslo
      #errorMessage
        p Chyba jak sviňa :(
      button.w-100.btn.btn-lg.btn-primary.mt-3(hx-post='\login' hx-target='#mainContent') Přihlásit
  .col
