// Vybrání týdne a dne
#datePicker
  // Vybírání týdnů
  .container.mt-3(style='height: 75px')
    .row.h-100
      .col
      .col-6
        .input-group
          button.btn.btn-primary(disabled)
            svg.bi.bi-arrow-left-circle(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' viewBox='0 0 16 16')
              path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z')
          span.input-group-text Týden
          input#weekPicker.form-control(type='week' name='week' placeholder='Např. 2023-W35' hx-get='/webapp/auth/week' hx-params='*' hx-target='#datePicker')
          button.btn.btn-primary(disabled)
            svg.bi.bi-arrow-right-circle(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' viewBox='0 0 16 16')
              path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z')
      .col
#dishesContent.container.mt-3
  p.text-center Prosím zvolte týden
#logoutButton(hx-swap-oob="innerHTML")
  button.btn.btn-light(type='button' hx-post='/webapp/auth/logout') Odhlásit se
